@font-face {
    font-family: 'Dense';
    src: url('../DV2/css/fonts/Dense/Dense-Regular.eot');
    src: url('../DV2/css/fonts/Dense/Dense-Regular.eot?#iefix') format('embedded-opentype'),
        url('../DV2/css/fonts/Dense/Dense-Regular.woff2') format('woff2'),
        url('../DV2/css/fonts/Dense/Dense-Regular.woff') format('woff'),
        url('../DV2/css/fonts/Dense/Dense-Regular.ttf') format('truetype'),
        url('../DV2/css/fonts/Dense/Dense-Regular.svg#Dense-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Simplifica';
    src: url('../DV2/css/fonts/Simplifica/Simplifica.eot');
    src: url('../DV2/css/fonts/Simplifica/Simplifica.eot?#iefix') format('embedded-opentype'),
        url('../DV2/css/fonts/Simplifica/Simplifica.woff2') format('woff2'),
        url('../DV2/css/fonts/Simplifica/Simplifica.woff') format('woff'),
        url('../DV2/css/fonts/Simplifica/Simplifica.ttf') format('truetype'),
        url('../DV2/css/fonts/Simplifica/Simplifica.svg#Simplifica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


#scatter_plot {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#choropleth_map {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

body {
	font-family: 'Simplifica', sans-serif;
	background-color: #E1E8ED;
}
