@font-face {
    font-family: 'Simplifica';
    src: url('../css/fonts/Simplifica/Simplifica.eot');
    src: url('../css/fonts/Simplifica/Simplifica.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/Simplifica/Simplifica.woff2') format('woff2'),
        url('../css/fonts/Simplifica/Simplifica.woff') format('woff'),
        url('../css/fonts/Simplifica/Simplifica.ttf') format('truetype'),
        url('../css/fonts/Simplifica/Simplifica.svg#Simplifica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



#heatmap {
	left: 100px;
	right: 100px;
}

#choropleth_map {
	left: 200px;
	right: 200px;
}

#scatterplot {
		left: 100px;
		right: 100px;
	}

#radial_plot {
	left: 100px;
	right: 100px;
}


#average_bar_chart {
	left: 100px;
	right: 100px;
}


body {
	font-family: 'Helvetica', sans-serif;
}

h1 {
	text-align: left;
	font-weight: bold;
}




.title {
	background-color: #AAB8C2;
	padding: 30px;
	text-align: center;
	font-size: 2em;
    margin-bottom: 0.2em;
}
  
.column.right {
	width: 50%;
}
  
.column.left {
	width: 50%;
}

.column.middle {
	width: 75%;
}

.column.side {
	width: 12.5%;
}


.row:after {
	content: "";
	display: table;
	clear: both;
}
