@font-face {
    font-family: 'Simplifica';
    src: url('../css/fonts/Simplifica/Simplifica.eot');
    src: url('../css/fonts/Simplifica/Simplifica.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/Simplifica/Simplifica.woff2') format('woff2'),
        url('../css/fonts/Simplifica/Simplifica.woff') format('woff'),
        url('../css/fonts/Simplifica/Simplifica.ttf') format('truetype'),
        url('../css/fonts/Simplifica/Simplifica.svg#Simplifica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



#heatmap {
	left: 200px;
	right: 200px;
}

#choropleth_map {
	left: 200px;
	right: 200px;
}

#scatterplot {
		left: 200px;
		right: 200px;
	}

#radial_plot {
	left: 200px;
	right: 200px;
}


#average_bar_chart {
	left: 200px;
	right: 200px;
}


body {
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	text-align: center;
	/* font-size: 50px; */
	font-weight: bold;
}

h2 {
	text-align: center;
	/* font-size: 38px */
}

h3 {
	text-align: center;
}

p {
	text-align: center;
}


#card {
	float: left;
	padding: 5px;
	width: 50%;
  }
  
#card_content::after {
	display: table;
	clear: both;
  }
